<<<<<<< HEAD
{% extends 'bundlePPEMission2BootstrapBundle:Default:base.html.twig' %}
{% block corps %}
<h1> Accueil </h1>
{% endblock %}
=======
<h1> slt </h1>
>>>>>>> 7539ca88f2b8bc04c6e2d2a3b48e5517deca7a56
